<% layout('layout/layout') %>
<div id="main">
	<section id="search">
		<h1>쿠폰 검색</h1>
		<form id="coupon_search" name="coupon_search" action="#" method="get">
			<label for="search_date">기간</label>
			<select id="search_date" name="search_date">
				<option value="buyable">구매가능</option>
				<option value="all">전체</option>
				<option value="past">지난쿠폰</option>
			</select>
			<label for="search_location">지역</label>
			<select id="search_location" name="search_location">
				<option value="">전체</option>
				<option>강남</option>
				<option>압구정</option>
				<option>논현</option>
				<option>홍대</option>
				<option>신촌</option>
				<option>기타</option>
			</select>
			<label for="search_keyword">키워드</label>
			<input type="text" id="search_keyword" name="search_keyword">
			<input type="submit" value="검색">
		</form>
	</section>
	<section>
		<form id="order" name="list_order_form" action="#" method="get">
			<label for="list_oder">리스트 정렬순서</label>
			<select id="list_order" name="list_order">
				<option value="saleDate.start">최근순</option>
				<option value="satisfactionAvg">평가순</option>
				<option value="buyQuantity">판매순</option>
			</select>
			<button type="submit">확인</button>
		</form>
	</section>
	<section id="coupon" class="list">
		<h1 class="blind">쿠폰 리스트</h1>
		<div id="time"><time datetime="2015-03-30">2015.03.30</time></div>
		<div class="coupon_list">				
			<!-- 현재 화면 -->
			<!-- 쿠폰 하나당 출력 영역 -->
			<article class="preview act p1" data-couponid="5" tabindex="0">
				<h1>백운 냉면</h1>
				<img class="list_img" src="image/coupon/coupon_01.jpg" alt="백운 냉면">
				<img class="detail_img" src="image/coupon/coupon_01_detail.jpg" alt="백운 냉면 상세 이미지" title="자세한 사항은 아래내용 참조">
				<section class="content">
					<h1>물냉면</h1>
					<p class="note">더운여름 물냉면의 세계로 빠져보아요<br></p>
					<ul class="coupon_info">
						<li class="cost">정상가격 : <del>15,000원</del></li>
						<li class="discount">할인가격 : <em>7,500원</em></li>
						<li class="expire">유효기간 : <time datetime="2012-06-01">2012-07-01</time> 부터 <time datetime="2012-08-31">2012-08-31</time> 까지</li>
						<li class="remain">잔여수량 : <span>50개</span></li>
						<li class="term">판매기간 : <span>6월 30 까지</span></li>
					</ul>
					<a href="coupon_buy.html" class="buy">구매하기</a>
				</section>
				<div class="coupon_tab">
					<section class="gallery">
						<h1 tabindex="0">갤러리</h1>
						<div class="gallery_viewport">
						</div>
						<article>
							<h1>포토 리스트</h1>
							<ul class="photo_list">
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""></a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""></a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""></a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""></a></li>
							</ul>
							<div class="big_photo">
								<img src="image/coupon/coupon_sample.png" width="300" height="250" alt="">
							</div>
						</article>
					</section>
					<section class="reply tab_off">
						<h1 tabindex="0">쿠폰 후기 및 평점</h1>
						<ul>
							<li>
								<article>
									<span>★★★★★</span>
									<p>정말이예요. 냉면이 너무 시원해요.</p>
									<footer>
										<img src="image/member/seulbinim@gmail.com.jpg" alt=""><span>김데레사</span>
										<time datetime="2013-03-14">2013년 3월 14일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>정말 맛있어요. 최고예요</p>
									<footer>
										<img src="image/member/uzoolove@gmail.com.jpg" alt=""><span>정길용</span>
										<time datetime="2013-02-20">2013년 2월 20일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>재방문 의사 100% 입니다. 너무 맛있네요^^</p>
									<footer>
										<img src="image/member/test.jpg" alt=""><span>나인환</span>
										<time datetime="2013-02-28">2013년 2월 28일</time>
									</footer>
								</article>
							</li>
						</ul>
					</section>
					<section class="map tab_off">
						<h1 tabindex="0">찾아오시는 길</h1>
						<div class="map_div">Loading....</div>
						<article>
							<h1><span class="company_name">백운냉면</span></h1>
							<div>
								<dl>
									<dt>영업점 소개</dt>
									<dd>
										<img src="image/shop/shop_sample.png" alt="백운 냉면">
										<p class="company_desc">강남에 위치한 45년 전통의 냉면집 입니다.</p>
									</dd>
									<dt>찾아 오시는길</dt>
									<dd>
										강남역 10번 출구나와서 500m 직진 정면에 있음.
										<button type="button">내 위치 보기</button>
									</dd>
									<dt>영업시간</dt>
									<dd>9:00 부터 23:00 까지</dd>
									<dt>문의전화 / e-mail</dt>
									<dd>
										전화 : <a href="tel:02-123-1234">02-123-1234</a> / e-mail : <a href="mailto:abc@cbc.com">abc@cbc.com</a>
									</dd>
								</dl>
							</div>
						</article>
					</section>

				</div>
				<button type="button" class="btn_add_cart">관심쿠폰등록</button>
				<button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
			</article>
			<!-- End of .coupon_article -->
			<!-- 쿠폰 하나당 출력 영역 -->
			<article class="preview act p2" data-couponid="6" tabindex="0">
				<h1>커피통 와플</h1>
				<img class="list_img" src="image/coupon/coupon_02.jpg" alt="커피통 와플 &amp; 아이스크림 SET">
				<img class="detail_img" src="image/coupon/coupon_02_detail.jpg" alt="커피통 와플 상세 이미지" title="자세한 사항은 아래내용 참조">
				<section class="content">
					<h1>와플&amp;아이스크림 SET</h1>
					<p class="note">
						더운여름 아이스크림과 함께 먹는 와플의 달콤함!<br>
						저희 커피통에서는 오픈기념 행사로 와플 &amp; 아이스크림 SET를 <br>
						50% 할인된 가격으로 저렴하게 모십니다.<br>
						또한 평일 오후 3시 이전 방문 고객이 와플 &amp; 아이스크림 SET를<br>
						주문하실 경우 아이스 아메리카노를 서비스로 드립니다.^^
					</p>
					<ul class="coupon_info">
						<li class="cost">정상가격 : <del>15,000원</del></li>
						<li class="discount">할인가격 : <em>7,500원</em></li>
						<li class="expire">유효기간 : <time datetime="2012-06-01">2012-07-01</time> 부터 <time datetime="2012-08-31">2012-08-31</time> 까지</li>
						<li class="remain">잔여수량 : <span>50개</span></li>
						<li class="term">판매기간 : <span>6월 30 까지</span></li>
					</ul>
					<a href="coupon_buy.html" class="buy">구매하기</a>
				</section>
				<div class="coupon_tab">
					<section class="gallery">
						<h1 tabindex="0">갤러리</h1>
						<div class="gallery_viewport">
						</div>
						<article>
							<h1>포토 리스트</h1>
							<ul class="photo_list">
								<li><a href="image/coupon/coupon_02_0.jpg" title=""><img src="image/coupon/coupon_02_0.jpg" alt=""> </a></li>
								<li><a href="image/coupon/coupon_02_1.jpg" title=""><img src="image/coupon/coupon_02_1.jpg" alt=""> </a></li>
								<li><a href="image/coupon/coupon_02_2.jpg" title=""><img src="image/coupon/coupon_02_2.jpg" alt=""> </a></li>
								<li><a href="image/coupon/coupon_02_3.jpg" title=""><img src="image/coupon/coupon_02_3.jpg" alt=""> </a></li>
							</ul>
							<div class="big_photo">
								<img src="image/coupon/coupon_sample.png" width="300" height="250" alt="">
							</div>
						</article>
					</section>
					<section class="reply tab_off">
						<h1 tabindex="0">쿠폰 후기 및 평점</h1>
						<ul>
							<li>
								<article>
									<span>★★★★★</span>
									<p>정말이예요. 와플이 너무 부드러워요.</p>
									<footer>
										<img src="image/member/seulbinim@gmail.com.jpg" alt=""> <span>김데레사</span>
										<time datetime="2013-01-14">2013년 1월 14일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>여자친구와 데이트 장소로 딱 좋아요 분위기도 굿~ 맛도 굿~</p>
									<footer>
										<img src="image/member/uzoolove@gmail.com.jpg" alt=""> <span>정길용</span>
										<time datetime="2012-012-20">2012년 12월 20일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>일산에 이런 맛집이 있다니. 앞으로도 다시 와플먹으러 와야겠어요.</p>
									<footer>
										<img src="image/member/test.jpg" alt=""> <span>나인환</span>
										<time datetime="20123-02-28">2013년2월 28일</time>
									</footer>
								</article>
							</li>
						</ul>
					</section>
					<section class="map tab_off">
						<h1 tabindex="0">찾아오시는 길</h1>
						<div class="map_div">Loading....</div>
						<article>
							<h1>
								<span class="company_name">커피통 와플</span>
							</h1>
							<div>
								<dl>
									<dt>영업점 소개</dt>
									<dd>
										<img src="image/shop/shop_02.jpg" alt="cooffee tong">
										<p class="company_desc">일산에 위치한 분위기 좋은 카페입니다.</p>
									</dd>
									<dt>찾아 오시는길</dt>
									<dd>
										경기도 고양시 일산동구 정발산동 1178번지
										<button type="button">내 위치 보기</button>
									</dd>
									<dt>영업시간</dt>
									<dd>9:00 부터 23:00 까지</dd>
									<dt>문의전화 / e-mail</dt>
									<dd>
										전화 : <a href="tel:02-123-1234">02-123-1234</a> / e-mail : <a href="mailto:abc@cbc.com">abc@cbc.com</a>
									</dd>
								</dl>
							</div>
						</article>
					</section>

				</div>
				<button type="button" class="btn_add_cart">관심쿠폰등록</button>
				<button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
			</article>
			<!-- End of .coupon_article -->
			<!-- 쿠폰 하나당 출력 영역 -->
			<article class="preview act p3" data-couponid="7" tabindex="0">
				<h1>고려 삼계탕</h1>
				<img class="list_img" src="image/coupon/coupon_03.jpg" alt="고려 삼계탕">
				<img class="detail_img" src="image/coupon/coupon_03_detail.jpg" alt="삼계탕 상세 이미지" title="자세한 사항은 아래내용 참조">
				<section class="content">
					<h1>삼계탕 기본</h1>
					<p class="note">
						더위를 잊기위한 필수 보양식!<br>
					</p>
					<ul class="coupon_info">
						<li class="cost">정상가격 : <del>15,000원</del></li>
						<li class="discount">할인가격 : <em>7,500원</em></li>
						<li class="expire">유효기간 : <time datetime="2012-07-01">2012-07-01</time> 부터 <time datetime="2012-08-31">2012-08-31</time> 까지</li>
						<li class="remain">잔여수량 : <span>50개</span></li>
						<li class="term">판매기간 : <span>6월 30 까지</span></li>
					</ul>
					<a href="coupon_buy.html" class="buy">구매하기</a>
				</section>
				<div class="coupon_tab">
					<section class="gallery">
						<h1 tabindex="0">갤러리</h1>
						<div class="gallery_viewport">
						</div>
						<article>
							<h1>포토 리스트</h1>
							<ul class="photo_list">
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
							</ul>
							<div class="big_photo">
								<img src="image/coupon/coupon_sample.png" width="300" height="250" alt="">
							</div>
						</article>
					</section>
					<section class="reply tab_off">
						<h1 tabindex="0">쿠폰 후기 및 평점</h1>
						<ul>
							<li>
								<article>
									<span>★★★★★</span>
									<p>담백해요</p>
									<footer>
										<img src="image/member/seulbinim@gmail.com.jpg" alt=""> <span>김데레사</span>
										<time datetime="2012-07-14">2012년 7월 14일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>고기가 연하고 무척 맛있어요</p>
									<footer>
										<img src="image/member/uzoolove@gmail.com.jpg" alt=""> <span>정길용</span>
										<time datetime="2012-07-20">2012년 7월 20일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★☆☆</span>
									<p>삼계탕은 맛있었지만 손님이 많아서인지 너무 불친절했어요.</p>
									<footer>
										<img src="image/member/test.jpg" alt=""> <span>나인환</span>
										<time datetime="2012-07-28">2012년 7월 28일</time>
									</footer>
								</article>
							</li>
						</ul>
					</section>
					<section class="map tab_off">
						<h1 tabindex="0">찾아오시는 길</h1>
						<div class="map_div">Loading....</div>
						<article>
							<h1>
								<span class="company_name">고려삼계탕</span>
							</h1>
							<div>
								<dl>
									<dt>영업점 소개</dt>
									<dd>
										<img src="image/shop/shop_sample.png" alt="고려 삼계탕">
										<p class="company_desc">맛으로 유명한 삼계탕 집</p>
									</dd>
									<dt>찾아 오시는길</dt>
									<dd>
										지하철 8호선 송파역 4번출구나 와 직진 후 바로 좌회전
										<button type="button">내 위치 보기</button>
									</dd>
									<dt>영업시간</dt>
									<dd>9:00 부터 23:00 까지</dd>
									<dt>문의전화 / e-mail</dt>
									<dd>
										전화 : <a href="tel:02-123-1234">02-123-1234</a> / e-mail : <a href="mailto:abc@cbc.com">abc@cbc.com</a>
									</dd>
								</dl>
							</div>
						</article>
					</section>

				</div>
				<button type="button" class="btn_add_cart">관심쿠폰등록</button>
				<button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
			</article>
			<!-- End of .coupon_article -->
			<!-- 쿠폰 하나당 출력 영역 -->
			<article class="preview act p4" data-couponid="8" tabindex="0">
				<h1>청석골 빈대떡</h1>
				<img class="list_img" src="image/coupon/coupon_04.jpg" alt="청석골 빈대떡">
				<img class="detail_img" src="image/coupon/coupon_04_detail.jpg" alt="청석골 빈대떡 상세 이미지" title="자세한 사항은 아래내용 참조">
				<section class="content">
					<h1>청석골 빈대떡</h1>
					<p class="note">
						10년 전통의 청석골 빈대떡!<br>
						저녁 시간에 막걸리와 환상의 궁합~ <br>
						50% 할인된 가격으로 저렴하게 모십니다.<br>
					</p>
					<ul class="coupon_info">
						<li class="cost">정상가격 : <del>15,000원</del></li>
						<li class="discount">할인가격 : <em>7,500원</em></li>
						<li class="expire">유효기간 : <time datetime="2012-06-01">2012-07-01</time> 부터 <time datetime="2012-08-31">2012-08-31</time> 까지</li>
						<li class="remain">잔여수량 : <span>50개</span></li>
						<li class="term">판매기간 : <span>6월 30 까지</span></li>
					</ul>
					<a href="coupon_buy.html" class="buy">구매하기</a>
				</section>
				<div class="coupon_tab">
					<section class="gallery">
						<h1 tabindex="0">갤러리</h1>
						<div class="gallery_viewport">
						</div>
						<article>
							<h1>포토 리스트</h1>
							<ul class="photo_list">
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
							</ul>
							<div class="big_photo">
								<img src="image/coupon/coupon_sample.png" width="300" height="250" alt="">
							</div>
						</article>
					</section>
					<section class="reply tab_off">
						<h1 tabindex="0">쿠폰 후기 및 평점</h1>
						<ul>
							<li>
								<article>
									<span>★★★★★</span>
									<p>빈대떡과 막걸리의 궁합. 최고예요</p>
									<footer>
										<img src="image/member/seulbinim@gmail.com.jpg" alt=""> <span>김데레사</span>
										<time datetime="2012-11-14">2012년 11월 14일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>친구들과의 모임. 가벼운 주머니 사정에 탁월한 선택</p>
									<footer>
										<img src="image/member/uzoolove@gmail.com.jpg" alt=""> <span>정길용</span>
										<time datetime="2013-02-20">2013년 2월 20일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>출출할 때 환상적인 맛이었어요. 또 먹고 싶어지네요.</p>
									<footer>
										<img src="image/member/test.jpg" alt=""> <span>나인환</span>
										<time datetime="2012-01-28">2013년 1월 28일</time>
									</footer>
								</article>
							</li>
						</ul>
					</section>
					<section class="map tab_off">
						<h1 tabindex="0">찾아오시는 길</h1>
						<div class="map_div">Loading....</div>
						<article>
							<h1>
								<span class="company_name">청석골 빈대떡</span>
							</h1>
							<div>
								<dl>
									<dt>영업점 소개</dt>
									<dd>
										<img src="image/shop/shop_sample.png" alt="청석골 빈대떡">
										<p class="company_desc">성남 모란시장</p>
									</dd>
									<dt>찾아 오시는길</dt>
									<dd>
										모란역 5번출구와 6번 출구 사이 청석골
										<button type="button">내 위치 보기</button>
									</dd>
									<dt>영업시간</dt>
									<dd>9:00 부터 23:00 까지</dd>
									<dt>문의전화 / e-mail</dt>
									<dd>
										전화 : <a href="tel:02-123-1234">02-123-1234</a> / e-mail : <a href="mailto:abc@cbc.com">abc@cbc.com</a>
									</dd>
								</dl>
							</div>
						</article>
					</section>

				</div>
				<button type="button" class="btn_add_cart">관심쿠폰등록</button>
				<button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
			</article>
			<!-- End of .coupon_article -->
			<!-- 쿠폰 하나당 출력 영역 -->
			<article class="preview act p5" data-couponid="9" tabindex="0">
				<h1>아미각 사시미 SET</h1>
				<img class="list_img" src="image/coupon/coupon_05.jpg" alt="아미각 사시미 SET">
				<img class="detail_img" src="image/coupon/coupon_05_detail.jpg" alt="아미각 사시미 SET 상세 이미지" title="자세한 사항은 아래내용 참조">
				<section class="content">
					<h1>아미각 사시미 SET</h1>
					<p class="note">
						신선한 재료!<br>
						조용하고 아늑한 실내 <br>
						비지니스 맨들의 회식장소로 최적<br>
						평일 저녁 방문 고객 50% 할인<br>
						서비스 안주 다양하게 준비
					</p>
					<ul class="coupon_info">
						<li class="cost">정상가격 : <del>15,000원</del></li>
						<li class="discount">할인가격 : <em>7,500원</em></li>
						<li class="expire">유효기간 : <time datetime="2012-06-01">2012-07-01</time> 부터 <time datetime="2012-08-31">2012-08-31</time> 까지</li>
						<li class="remain">잔여수량 : <span>50개</span></li>
						<li class="term">판매기간 : <span>6월 30 까지</span></li>
					</ul>
					<a href="coupon_buy.html" class="buy">구매하기</a>
				</section>
				<div class="coupon_tab">
					<section class="gallery">
						<h1 tabindex="0">갤러리</h1>
						<div class="gallery_viewport">
						</div>
						<article>
							<h1>포토 리스트</h1>
							<ul class="photo_list">
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
								<li><a href="image/coupon/coupon_sample.png" title=""><img src="image/coupon/coupon_sample.png" alt=""> </a></li>
							</ul>
							<div class="big_photo">
								<img src="image/coupon/coupon_sample.png" width="300" height="250" alt="">
							</div>
						</article>
					</section>
					<section class="reply tab_off">
						<h1 tabindex="0">쿠폰 후기 및 평점</h1>
						<ul>
							<li>
								<article>
									<span>★★★★★</span>
									<p>회가 정말 신선해요</p>
									<footer>
										<img src="image/member/seulbinim@gmail.com.jpg" alt=""> <span>김데레사</span>
										<time datetime="2012-07-14">2012년 7월 14일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>회식장소로 최고예요</p>
									<footer>
										<img src="image/member/uzoolove@gmail.com.jpg" alt=""> <span>정길용</span>
										<time datetime="2012-07-20">2012년 7월 20일</time>
									</footer>
								</article>
							</li>
							<li>
								<article>
									<span>★★★★★</span>
									<p>회와 함께 제공되는 서비스 안주도 정말 맛있었어요</p>
									<footer>
										<img src="image/member/test.jpg" alt=""> <span>나인환</span>
										<time datetime="2012-07-28">2012년 7월 28일</time>
									</footer>
								</article>
							</li>
						</ul>
					</section>
					<section class="map tab_off">
						<h1 tabindex="0">찾아오시는 길</h1>
						<div class="map_div">Loading....</div>
						<article>
							<h1>
								<span class="company_name">아미각 사시미 SET</span>
							</h1>
							<div>
								<dl>
									<dt>영업점 소개</dt>
									<dd>
										<img src="image/shop/shop_sample.png" alt="아미각 사시미 SET">
										<p class="company_desc">매봉역 근처</p>
									</dd>
									<dt>찾아 오시는길</dt>
									<dd>
										지하철 3호선 매봉역 3번출구 옆
										<button type="button">내 위치 보기</button>
									</dd>
									<dt>영업시간</dt>
									<dd>9:00 부터 23:00 까지</dd>
									<dt>문의전화 / e-mail</dt>
									<dd>
										전화 : <a href="tel:02-123-1234">02-123-1234</a> / e-mail : <a href="mailto:abc@cbc.com">abc@cbc.com</a>
									</dd>
								</dl>
							</div>
						</article>
					</section>

				</div>
				<button type="button" class="btn_add_cart">관심쿠폰등록</button>
				<button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
			</article>
			<!-- End of .coupon_article -->
			<!-- 다음 화면 -->
			<article class="preview next p1" data-couponid="10" tabindex="0">
				<h1>그라~제 버거</h1>
				<img class="list_img" src="image/coupon/coupon_06.jpg" alt="그라~제 버거">
				<img class="detail_img" src="image/coupon/coupon_06_detail.jpg" alt="그라~제 버거 상세 이미지" title="자세한 사항은 아래내용 참조">
				<section class="content">
					<h1>그라~제 버거</h1>
					<p class="note">
						그라제 버거와 함께!<br>
						그라제 버거 역삼역 지점에서 오픈 1주년 기념으로 크라제 버거를 한달동안 반값 할인된 금액으로 판매합니다.<br>
						3월 1일부터 3월 31일 까지 많은 이용 바랍니다.
					</p>
					<ul class="coupon_info">
						<li class="cost">정상가격 : <del>7,600원</del></li>
						<li class="discount">할인가격 : <em>3,800원</em></li>
						<li class="expire">유효기간 : <time datetime="2013-03-01">2013-03-01</time> 부터 <time datetime="2013-03-31">2013-03-31</time> 까지</li>
						<li class="remain">잔여수량 : <span>999개</span></li>
						<li class="term">판매기간 : <span>3월 31 까지</span></li>
					</ul>
					<a href="coupon_buy.html" class="buy">구매하기</a>
				</section>
				<button type="button" class="btn_add_cart">관심쿠폰등록</button>
				<button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
			</article>
			<!-- End of .coupon_article -->
			<!-- 쿠폰 하나당 출력 영역 -->
			<article class="preview next p2" data-couponid="11" tabindex="0">
				<h1>베스킨라빈스 32 아이스크림</h1>
				<img class="list_img" src="image/coupon/coupon_07.jpg" alt="베스킨라빈스 32 아이스크림">
				<img class="detail_img" src="image/coupon/coupon_07_detail.jpg" alt="베스킨라빈스 32 아이스크림 상세 이미지" title="자세한 사항은 아래내용 참조">
				<section class="content">
					<h1>베스킨라빈스 32 아이스크림</h1>
					<p class="note">
						32개 중에서 골라먹는 재미가 있다<br>
						베스킨라빈스 32에서 파격적인 할인가로 아이스크림을 판매합니다.<br>
						본 쿠폰은 1인당 1매만 가능하며 다른 상품 주문시 가능합니다.
					</p>
					<ul class="coupon_info">
						<li class="cost">정상가격 : <del>6,000원</del></li>
						<li class="discount">할인가격 : <em>2,500원</em></li>
						<li class="expire">유효기간 : <time datetime="2012-06-01">2012-07-01</time> 부터 <time datetime="2012-08-31">2012-08-31</time> 까지</li>
						<li class="remain">잔여수량 : <span>100개</span></li>
						<li class="term">판매기간 : <span>8월 31 까지</span></li>
					</ul>
					<a href="coupon_buy.html" class="buy">구매하기</a>
				</section>
				<button type="button" class="btn_add_cart">관심쿠폰등록</button>
				<button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
			</article>					
			<!-- End of .coupon_article -->
		</div>
	</section>
</div>
