<% layout('layout/layout') %>
<div id="all">
    <section id="search">
        <form id="notice_search" name="notice_search" action="#" method="get">
            <label for="search_title">제목</lable>
            <input type="text" name="search_title" id="search_title" />
            <label for="search_author">작성자</lable>
            <input type="text" name="search_author" id="search_author" />
            <label for="search_keyword">키워드</lable>
            <input type="text" name="search_keyword" id="search_keyword" />
            <input type="submit" value="검색">
        </form>
    </section>

    <section id="notice_list">
        <table>
            <colgroup>
                <col width="70%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>방문수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test1</td>
                    <td>terry</td>
                    <td>2017.04.24</td>
                    <td>5</td>
                </tr
                <tr>
                    <td>test1</td>
                    <td>terry</td>
                    <td>2017.04.24</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>test1</td>
                    <td>terry</td>
                    <td>2017.04.24</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </section>
    
</div>