<% layout('layout/layout') %>
<div id="all">
    <section id="search">
        <form id="notice_search" name="notice_search" action="#" method="get">
            <label for="search_title">제목</lable>
            <input type="text" name="search_title" id="search_title" />
            <label for="search_writer">작성자</lable>
            <input type="text" name="search_writer" id="search_writer" />
            <label for="search_keyword">키워드</lable>
            <input type="text" name="search_keyword" id="search_keyword" />
            <input type="submit" value="검색">
        </form>
        <% if(uid){ %>
         <a href="newPost.html">New Post</a>
         <% } %>
    </section>

    <section>
        <table>
            <colgroup>
                <col width="70%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>방문수</th>
                </tr>
            </thead>
            <tbody id="notice_list">
        
            </tbody>
        </table>
    </section>
    
</div>