<% layout('layout/layout') %>
<div id="main">
	<section id="location_map" title="지도 표시 영역"> .....loading..... </section>
	<section id="coupon" class="location">
		<h1 class="blind">쿠폰 리스트</h1>
		<div class="coupon_list">
			<!--  쿠폰 목록 출력 영역 -->
			
		</div>
	</section>
	<div id="location_coupon_control">
		<div id="location_coupon_counter">
			<span id="counter_now">0</span> / <span id="counter_all">0</span>
		</div>
		<button type="button" id="btn_pre_location_coupon">이전</button>
		<input type="range" min="0" max="0" value="0">
		<button type="button" id="btn_next_location_coupon">다음</button>
	</div>
</div>
