<% layout('layout/layout') %>
<div id="main">			
	<section id="join_section">
		<h1>회원정보 수정</h1> 
		<form name="join_form">
			<input type="hidden" name="cmd" value="updateMember">
			<input type="hidden" name="tmpFileName">
			<img src="image/member/<%= img %>" alt="<%= uid %> 회원 이미지">
			<table id="join_form_table">
				<tr>
					<th>이메일</th>
					<td><%= uid %></td>
				</tr>
				<tr>
					<th><label for="profile">프로필 이미지</label></th>
					<td>
						<input type="file" accept="image/*" id="profile">
						<progress>0%</progress>
					</td>
				</tr>
				<tr>
					<th><label for="password_old">비밀번호</label></th>
					<td><input type="password" id="password_old" name="oldPassword" required></td>
				</tr>
				<tr>
					<th><label for="password">새 비밀번호</label></th>
					<td><input type="password" id="password" name="password"></td>
				</tr>
				<tr>
					<th><label for="password2">새 비밀번호확인</label></th>
					<td><input type="password" id="password2"></td>
				</tr>
			</table>
			<div class="btn_div"><button type="submit">정보 수정</button></div>
		</form>
	</section>
	<section id="my_coupon_section">
		<h1>내가 구매한 쿠폰 리스트</h1>    
		<!-- 구매한 쿠폰 목록 출력 영역 -->

	</section>
</div>
