<head>
<meta charset="utf-8">
<title>mulPang</title>
<meta name="description" content="멀티 캠퍼스 HTML5 강의용 데모 사이트">
<meta name="keywords" content="html5,css3,svg">
<link rel="shortcut icon" href="image/favicon.ico">
<link rel="stylesheet" media="all" type="text/css" href="css/layout.css">
<script src="js/lib/jquery-1.11.0.min.js"></script>
<script src="js/lib/jquery.tmpl.min.js"></script>
<script src="js/util.js"></script>
<script src="js/common_cart.js"></script>
<script src="js/common_login.js"></script>
<script src="js/common_member.js"></script>
<% if(js){ %><script src="js/<%= js %>"></script><% } %>
</head>